# dependencies
node_modules/
**/node_modules/

# environment variables
.env
**/.env

# build files
build/
dist/
**/build/
**/dist/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# misc
coverage/
backend/public/images/412cf51a480d72b4b19a8d82311e30d8
backend/public/images/bb26714ae7f9efe57285ce15743888af
backend/public/images/bffc0dca6576bd5709516217a5ae47dd
backend/public/images/eaa29d8973bfb79d1f80089f96cafeaf
